$colours: (
    web  #926fb1 #79539a,
    it  #4183d7 #286abd,
    telecoms  #d64541 #bc2c28,
    bespoke  #67809f #526781,
    digital  #2eec71 #25a25a,
    cybers  #f62459 #de093f,
);

$web_light: #926fb1;
$web_dark: #79539a;

$it_light: #4183d7;
$it_dark: #286abd;

$telecoms_light: #d64541;
$telecoms_dark: #bc2c28;

$bespoke_light: #67809f;
$bespoke_dark: #526781;

$digital_light: #2eec71;
$digital_dark: #25a25a;

$cyber_light: #f62459;
$cyber_dark: #de093f;

$dark_grey_text: #333645;
$navigation-dark_grey: #333645;
$navigation-border-light: #857c91;
$navigation-border-dark: #434550;